extends layout


block content
  br
  h2 
  if user
    if user.id == article.author
      a.btn.btn-danger.delete-article(href='#',data-id=article._id) DELETE
      a.btn.btn-primary.edit-article(href='/article/edit/'+article._id) EDIT 
  h2 #{article.author_name}
  h6 posted on #{article.date.getDate()}.#{article.date.getMonth()+1}.#{article.date.getFullYear()}
  p
  strong #{article.title}
  br  
  | #{article.body}
  br
  form(method='POST' , action='/article/'+article._id)    
    #form-group
      br
      textarea.form-control(name='comment', placeholder='Comment here...')
      input.btn.btn-primary.comment-2(type='submit',value='COMMENT',)
  ul.list-group
    each comment, i in article.comments
        li.list-group-item
          h5 #{comment.user_id.name}
          p posted on #{comment.date.getDate()}.#{comment.date.getMonth()+1}.#{comment.date.getFullYear()} 
          p #{comment.comment_text}
      
  
